In [31]:
x = int(3.14)
"""Convert float in to integer"""

'Convert float in to integer'

In [1]:
eng=input()

100

In [3]:
English=int(input(" Please Enter Marks of English"))

 Please Enter Marks of English100

In [4]:
English

100

In [11]:
x

3

In [28]:
x = float(5)
"""
Convert integer into float
"""

'\nConvert integer into float\n'

In [13]:
x

5.0

In [32]:
x = str(42)
"Numarical value into string "

'Numarical value into string '

In [15]:
x

'42'

In [36]:
x = bool(0)
"""Interger value Zero in to boolean False"""

'Interger value Zero in to boolean False'

In [17]:
x

False

In [39]:
x = list((1, 2, 3))

In [54]:
x[0]

1

In [41]:
x = tuple([1, 2, 3])

In [59]:
x[-3]

1

In [23]:
x = set([1, 2, 3])

In [56]:
x[-1]

3

In [69]:
x = dict([(1, 'one'), (2, 'two')])

In [70]:
x[1]

'one'

## Tuple:
#### "A tuple is an ordered collection of elements that is immutable",
####    meaning its elements cannot be modified once created.
####   Tuples are defined using parentheses ( ) or without any delimiters if the context allows.
####    Elements in a tuple can be of different data types, and they are separated by commas.
####    Tuples are typically used when you want to store a fixed collection of related values that
 ####   should not be changed.
####    Accessing elements in a tuple is done using indexing, where the index starts from 0.

In [44]:
my_tuple = (1, 'hello', 3.14, True)
print(my_tuple[0])  # Output: 1

1

## Dictionary:
#### A dictionary is an unordered collection of key-value pairs, where each value is associated with a unique key.
#### Dictionaries are defined using curly braces { }, with key-value pairs separated by colons :.
#### Keys in a dictionary must be immutable objects (such as strings or numbers), while values can be of any data type.
#### Dictionaries are useful when you want to store and retrieve values based on specific keys, allowing for fast lookup operations.
#### Accessing values in a dictionary is done by referencing the corresponding key.
#### Example:

In [53]:
my_dict = {'name': 'John', 'age': 25, 'city': 'New York'}
print(my_dict["age"])  # Output: John

25

In [68]:
student = {'name': 'Alice', 'age': 20, 'grade': 'A'}
prices = {'apple': 1.99, 'banana': 0.99, 'orange': 1.49}
student

{'name': 'Alice', 'age': 20, 'grade': 'A'}

# List:
#### A list is an ordered collection of elements that is mutable, meaning its elements can be modified after creation.
#### Lists are defined using square brackets [ ].
####  Elements in a list can be of different data types, and they are separated by commas.
#### Lists are commonly used when you want to store and manipulate a collection of items, such as adding or removing elements.
#### Accessing elements in a list is done using indexing, similar to tuples.
#### Example:

In [50]:
my_list = [1, 2, 'apple', True]
print(my_list[0])

1

In [1]:
name = "John"
age = 25

print(f"My name is {name} and I am {age} years old.")

My name is John and I am 25 years old.

In [4]:
name = "John"
age = 25

print("My name is {} and I am {} years old.".format(name, age))

My name is John and I am 25 years old.

In [2]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {2} pieces of item {2}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 49.95 pieces of item 49.95.

In [3]:
age = 36
name= 'Ali'
agee= 67
namee="jamal"
txt = "My name is {}, and I am {}"
r=txt.format(age,name);
# print(txt.format(age,name))
print(r.replace('36','Ali'))

My name is Ali, and I am Ali

In [5]:
age = 36
name= 'Ali'
agee= 67
namee="jamal"
txt = "My name is {}, and I am {}"
r=txt.format(age,name);
# print(txt.format(age,name))
print(r.replace('36','Ali'))

My name is Ali, and I am Ali

In [6]:
name = "John"
age = 25

print(f"My name is {name} and I am {age} years old.")

My name is John and I am 25 years old.