## today tasks
### List
### tuple 
### Dictionary
### loops

In [ ]:
"""Mutability:
Lists: 
    Lists are mutable, meaning you can modify, add, or remove elements after creation.
Tuples: 
    Tuples are immutable,which means their elements cannot be modified once they are assigned.
Arrays:
    Arrays can be mutable or immutable depending on the programming language or library. 
    In Python, the built-in array module provides mutable arrays, while NumPy arrays are mutable as well."""

In [ ]:
"""Syntax:
Lists: 
    Lists are defined using square brackets [], and elements are separated by commas.
Tuples: 
    Tuples are defined using parentheses (), and elements are separated by commas.
Arrays: 
    Arrays can be defined using different syntax depending on the programming language or library.
    In Python, lists or NumPy arrays are commonly used to represent arrays."""

In [ ]:
"""Usage:

Lists: 
    Lists are versatile and commonly used for storing and manipulating collections of data. 
    They allow for dynamic resizing, and their elements can have different data types.
Tuples: 
    Tuples are often used to represent a collection of related values that should not be changed.
    They can be used to return multiple values from a function, as dictionary keys, or as elements in a set.
Arrays: 
    Arrays are used when you need to store and manipulate homogeneous data, typically of the same data type.
    They are often used for numerical computations, as they
    provide efficient element-wise operations and memory storage."""

In [ ]:
"""Libraries and Features:

Lists:  Lists are a built-in data structure in most programming languages and provide a wide range 
        of methods and functionalities.
Tuples: Tuples are also available as a built-in data structure in many programming languages. 
        They are often used when immutability and indexing are important.
Arrays: Arrays can be implemented using different libraries or modules in various programming languages.
        For example, NumPy is a popular library in Python for efficient numerical computations using arrays.

"""

In [16]:
"""
Sets:

Sets are collections of unique elements, and they have distinct characteristics compared to the other data structures:

Uniqueness: Sets only contain unique elements. Duplicate values are automatically eliminated when creating a set.

Unordered: Sets are unordered, meaning the elements do not have a specific order or index.

Mutable: Sets are mutable, allowing for the addition and removal of elements.

Syntax: Sets are defined using curly braces {} or the set() constructor. Elements are separated by commas.
"""

fruits = {"apple", "banana","Pineapple", 1,1}  # Creating a set using curly braces

print(f"Here are the set name as {fruits}")  # Output: {'banana', 'orange', 'apple'}

Here are the set name as {'apple', 'Pineapple', 'banana', 1}

In [17]:
fruits.add("grapes")
fruits

{1, 'Pineapple', 'apple', 'banana', 'grapes'}

In [18]:
fruits.remove(1)

In [22]:
fruits

{'Pineapple', 'apple', 'banana', 'grapes'}

In [19]:
fruits[2]="Green"

TypeError: 'set' object does not support item assignment

In [72]:
fruits.add("grape")  # Adding an element to the set

print("Add new element grape",fruits)  # Output: {'banana', 'orange', 'apple', 'grape'}

Add new element grape {'banana', 'orange', 'apple', 'grape'}

In [73]:

fruits.remove("banana")  # Removing an element from the set

print("Removing the banana from the set",fruits)  # Output: {'orange', 'apple', 'grape'}

Removing the banana from the set {'orange', 'apple', 'grape'}

In [30]:
!pip install numpy

Requirement already satisfied: numpy in /home/mirza/.local/lib/python3.10/site-packages (1.23.5)

In [11]:
import numpy as np

hobbies = ["cricket", "football", "baseball",1.0,11]
array_hobbies = np.array(hobbies)

print(type(hobbies))
print(array_hobbies)
# print(array_hobbies[2])
print(hobbies[2])
print(len(hobbies))

<class 'list'>
['cricket' 'football' 'baseball' '1.0' '11']
baseball
5

In [39]:
fruits = ["apple", "banana", "orange", "grape", "watermelon"]

print(type(fruits))
fruits

<class 'list'>

['apple', 'banana', 'orange', 'grape', 'watermelon']

In [47]:
arr = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10,11]
half = len(arr) // 2
first_half = arr[:half]
second_half = arr[half:]

# print(first_half)  
# print(second_half) 
half

5

In [48]:
first_half

[1, 2, 3, 4, 5]

In [49]:
second_half

[6, 7, 8, 9, 10, 11]

In [60]:
arr = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10,"AI","ML",11,12]
third = len(arr) // 2
first_third = arr[:third]
second_third = arr[third:2*third]
third_third = arr[2*third:]

print(first_third)  
print(second_third)  
print(third_third)

[1, 2, 3, 4, 5, 6, 7]
[8, 9, 10, 'AI', 'ML', 11, 12]
[]

In [57]:
third

3

In [58]:
len(arr)

14

In [61]:
arr = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
section1 = arr[:3]
section2 = arr[3:7]
section3 = arr[7:]

print(section1) 
print(section2)  
print(section3)

[1, 2, 3]
[4, 5, 6, 7]
[8, 9, 10]

In [63]:
fruits

['apple', 'banana', 'orange', 'grape', 'watermelon']

In [64]:
print(type(fruits))

<class 'list'>

In [62]:
for i in fruits:
    if i=="watermelon":
        print("True")

True

In [65]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [75]:
fruits=['apple', 'banana', 'orange', 'grape', 'watermelon']

In [76]:
for i in range (len(fruits)):
    print(fruits[i])
#     print(i)

apple
banana
orange
grape
watermelon

In [82]:
fruits[2]="Patato"
fruits.insert(4,"Patato")
# print(fruits)
# print(type(fruits))

In [83]:
print(fruits)

['apple', 'banana', 'Patato', 'grape', 'Patato', 'Patato', 'watermelon']

In [84]:
print(len(fruits))

7

In [86]:
fruits.insert(5,"Mango")
print(fruits)

['apple', 'banana', 'Patato', 'grape', 'Patato', 'Mango', 'Mango', 'Patato', 'watermelon']

In [92]:
fruits = ("apple","apple", "banana", "orange", "grape", "watermelon")

print(type(fruits))
# print(fruits[2])
# fruits[2]="Patato"
fruits.count("apple")

<class 'tuple'>

2

In [93]:
for i in fruits:
    print(i)

apple
apple
banana
orange
grape
watermelon

In [95]:
fruits = {
    "apple": "red",
    "banana": "yellow",
    "orange": "orange",
    "grape": "purple",
    "watermelon": "green"
}

print(fruits)

{'apple': 'red', 'banana': 'yellow', 'orange': 'orange', 'grape': 'purple', 'watermelon': 'green'}

In [96]:
fruits.keys()

dict_keys(['apple', 'banana', 'orange', 'grape', 'watermelon'])

In [97]:
fruits.values()

dict_values(['red', 'yellow', 'orange', 'purple', 'green'])

In [98]:
biodata={
    
    "name": "Jamal",
    "Education": "Engineering",
    "Desgination": "ML Team Lead",
    "email":"mirzajamal750@gmail.com",
    "Place":"Islamabad",
    "university":"FUI"
}

In [100]:
print(biodata)

{'name': 'Jamal', 'Education': 'Engineering', 'Desgination': 'ML Team Lead', 'email': 'mirzajamal750@gmail.com', 'Place': 'Islamabad', 'university': 'FUI'}

In [102]:
len(biodata.items())

6

In [103]:
biodata.items()

dict_items([('name', 'Jamal'), ('Education', 'Engineering'), ('Desgination', 'ML Team Lead'), ('email', 'mirzajamal750@gmail.com'), ('Place', 'Islamabad'), ('university', 'FUI')])

In [99]:
print(biodata.setdefault("name"))

Jamal

In [104]:
for i in biodata.values():
    print(i)

Jamal
Engineering
ML Team Lead
mirzajamal750@gmail.com
Islamabad
FUI

In [106]:
for i in range(1,4):
    print("*")
    for j in range(1,10):
        print("-/*")

*
-/*
-/*
-/*
-/*
-/*
-/*
-/*
-/*
-/*
*
-/*
-/*
-/*
-/*
-/*
-/*
-/*
-/*
-/*
*
-/*
-/*
-/*
-/*
-/*
-/*
-/*
-/*
-/*

In [107]:
for i in range(5, 0, -1):
    print("*" * i)

*****
****
***
**
*

In [111]:
for i in range (1,6,1):
    print("*"*i)

*
**
***
****
*****

In [1]:
i = 10
""" initalization"""
""" condition"""
while i > 0:
    print("*" * i)
    i -= 1
""" increment/decrement"""

**********
*********
********
*******
******
*****
****
***
**
*

' increment/decrement'

In [106]:
i=20
print("*" * i)

********************

In [114]:
over_score=[3,5,9,14,12,0,25]

In [115]:
print(len(over_score))
print(sum(over_score))

7
68

In [1]:
scoreboard = {
    "jamal": {
        1: {0, "WD", "No", "free hit+6", "catch", 4, "bowled", 6, 0},
        2: {4,4,4,"wicket","wicket","wicket"},
        3: {0,0,0,0,1,0},
        4:{"out","NO+FREEHIT",0,0,6,6,"catch"}
    },
    "hamza": {
        1: {0, "WD", "No", "free hit+6", 0, 4, "bowled", 6, 0},
        2: {4,4,4,"wicket","wicket","wicket"},
        3: {0,0,0,0,1,0},
        4:{"out","NO+FREEHIT",0,"catch",6,6,"out"}
        
    }
}

print(scoreboard)

{'jamal': {1: {0, 'WD', 4, 'bowled', 6, 'No', 'free hit+6', 'catch'}, 2: {4, 'wicket'}, 3: {0, 1}, 4: {0, 'NO+FREEHIT', 6, 'out', 'catch'}}, 'hamza': {1: {0, 'WD', 4, 'bowled', 6, 'No', 'free hit+6'}, 2: {4, 'wicket'}, 3: {0, 1}, 4: {0, 'NO+FREEHIT', 6, 'out', 'catch'}}}

In [2]:
print(scoreboard.keys)
print(len(scoreboard))

<built-in method keys of dict object at 0x7ff692fb91c0>
2

In [6]:
wicket_count = 0

for player in scoreboard:
    for inning in scoreboard[player]:
        if "out" or "wicket" or "catch" or "bowled"  in scoreboard[player][inning]:
            wicket_count += 1

print("Total No balls:", wicket_count)

Total No balls: 8

In [15]:
jamal_wickets = sum("wicket" in innings for innings in scoreboard["jamal"].values())
print("Number of wickets taken by Jamal:", jamal_wickets)
hamza_wickets = sum("wicket" in innings for innings in scoreboard["hamza"].values())
print("Number of wickets taken by Hamza:", hamza_wickets)
total_wickets = jamal_wickets + hamza_wickets
print("Overall total wickets taken in the match:", total_wickets)
wd_count = sum("WD" in innings for player in scoreboard.values() for innings in player.values())
no_count = sum("No" in innings for player in scoreboard.values() for innings in player.values())
total_score = sum(score for player in scoreboard.values() for innings in player.values() for score in innings if isinstance(score, int))
print("Overall 'WD' count:", wd_count)
print("Overall 'NO' count:", no_count)
print("Total score of the match:", total_score)
jamal_score = sum(score for innings in scoreboard["jamal"].values() for score in innings if isinstance(score, int))
print("Score given by Jamal:", jamal_score)
hamza_score = sum(score for innings in scoreboard["hamza"].values() for score in innings if isinstance(score, int))
print("Score given by Hamza:", hamza_score)

jamal_2nd_over_score = sum(score for score in scoreboard["jamal"][2] if isinstance(score, int))
hamza_2nd_over_score = sum(score for score in scoreboard["hamza"][2] if isinstance(score, int))

hamza_2nd_over_score

Number of wickets taken by Jamal: 1
Number of wickets taken by Hamza: 1
Overall total wickets taken in the match: 2
Overall 'WD' count: 2
Overall 'NO' count: 2
Total score of the match: 42
Score given by Jamal: 21
Score given by Hamza: 21

4