In [111]:
import pandas as pd
import numpy as np
from sklearn.cluster import DBSCAN
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import silhouette_score
from sklearn.impute import SimpleImputer
from sklearn.cluster import KMeans
from sklearn.preprocessing import MinMaxScaler
import os

In [108]:

data=pd.read_excel("career_pred.xlsx")
def convert_to_int(remain_df, col_name):
    new_df = remain_df.copy()  # create a copy of the original dataframe
    new_df[col_name] = pd.to_numeric(new_df[col_name], errors='coerce').astype('Int64')  # convert the specified column to int64
    return new_df

df = convert_to_int(data, 'learning_style')
# print(df.dtypes)
new_df=df.drop("ROLE", axis=1)

In [109]:
data=pd.read_excel("career_pred.xlsx")
def convert_to_int(remain_df, col_name):
    new_df = remain_df.copy()  # create a copy of the original dataframe
    new_df[col_name] = pd.to_numeric(new_df[col_name], errors='coerce').astype('Int64')  # convert the specified column to int64
    return new_df

df = convert_to_int(data, 'learning_style')
# print(df.dtypes)
new_df=df.drop("ROLE", axis=1)

new_df=df.drop("ROLE", axis=1)

# group the data by the "Group" column
groups = data.groupby("ROLE")

# loop through each group and save the data to a CSV file
for name, group in groups:
    filename = f"{name}.csv"
    group.to_csv(filename, index=False)

In [107]:
len(test)

49

In [110]:
new_df = new_df.dropna()
test=data.iloc[:49,:]
test_Y=test.iloc[:,25]
test_X=test.drop("ROLE", axis=1)
test_X
label_data=data.iloc[:49,:]
new_df

,sslc,hsc,cgpa,school_type,no_of_miniprojects,no_of_projects,coresub_skill,aptitude_skill,problemsolving_skill,programming_skill,...,ds_coding,technology_used,sympos_attend,sympos_won,extracurricular,learning_style,college_bench,clg_teachers_know,college_performence,college_skills
0,2,3,2,3,1,1,1,1,2,4,...,1,1,3,1,2,2,4,3,4,5
1,3,1,2,2,2,1,1,3,2,4,...,2,2,3,2,3,2,5,3,3,4
2,3,4,2,2,1,1,1,2,3,3,...,1,1,4,3,1,4,3,3,3,4
3,3,4,2,1,1,1,1,1,3,2,...,2,1,3,2,1,2,1,4,4,3
4,2,3,2,4,1,1,1,4,3,3,...,2,1,2,1,3,1,5,4,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7520,3,2,1,2,1,1,2,2,3,3,...,4,1,4,2,2,1,4,4,3,3
7521,2,3,3,3,4,3,2,1,3,3,...,3,4,2,3,2,4,1,3,3,2
7522,3,2,1,2,1,1,1,2,2,3,...,2,1,3,1,1,3,5,3,3,4
7523,2,1,1,1,2,1,1,2,2,2,...,2,1,3,2,1,2,4,4,3,4
7524,2,2,2,3,2,1,1,1,2,3,...,1,1,4,1,1,3,5,3,3,5

In [121]:

# Apply KMeans clustering to the scaled unlabeled data
kmeans = KMeans(n_clusters=8, random_state=42)
kmeans.fit(new_df)

/home/mirza/.local/lib/python3.10/site-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

KMeans(random_state=42)

In [123]:
# Apply MinMax scaling on the numerical columns
test_X = scaler.fit_transform(new_df)
test_clusters = kmeans.predict(test_X)

# View the count of samples in each predicted cluster
print(pd.Series(test_clusters).value_counts())


# Initialize the scaler
scaler = MinMaxScaler()

# Apply MinMax scaling on the numerical columns
new_df = scaler.fit_transform(new_df)
# Save the scaler object as a pickle file
with open('scaler.pkl', 'wb') as f:
    pickle.dump(scaler, f)

7    1200
1    1155
5    1050
0    1009
2     872
3     824
6     806
4     607
dtype: int64

In [124]:
unique_professions = df['ROLE'].unique().tolist()
print(unique_professions)
print(len(unique_professions))

['Technical Support', 'Software Developer', 'UI&UX Designer', 'Data Analyst', 'Technical Writer', 'Web Developer', 'Software Tester', 'Business Analyst', nan]
9

In [125]:
# Fit KMeans and predict clusters for data
kmeans = KMeans(n_clusters=8, random_state=42)
predicted_clusters = kmeans.fit_predict(new_df)

# Map cluster labels to profession names
label_map = {0: 'Putting False Values', 1: 'Business Analyst ', 2: 'Data Analyst', 3: 'Web Developer', 4: 'Software Tester', 5: 'TechnicalSupport', 6:'UI & UX Designer', 7:"Software Developer"}
predicted_labels_named = [label_map[c] for c in predicted_clusters]

# Count samples in each predicted cluster
from collections import Counter
cluster_counts = Counter(predicted_labels_named)
print(cluster_counts)

/home/mirza/.local/lib/python3.10/site-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

Counter({'Software Developer': 1200, 'Business Analyst ': 1155, 'TechnicalSupport': 1050, 'Putting False Values': 1009, 'Data Analyst': 872, 'Web Developer': 824, 'UI & UX Designer': 806, 'Software Tester': 607})

In [97]:
# Software Developer okey with cluster 7
software=pd.read_csv("Software Developer.csv")
software=software.drop("ROLE", axis=1)
software = scaler.fit_transform(software)


# UI&UX Designer.csv okey with 6

UI=pd.read_csv("UI&UX Designer.csv")
UI=UI.drop("ROLE", axis=1)
UI = scaler.fit_transform(UI)


# Technical Support.csv okey with 5
TechnicalSupport=pd.read_csv("Technical Support.csv")
TechnicalSupport=TechnicalSupport.drop("ROLE", axis=1)
TechnicalSupport = scaler.fit_transform(TechnicalSupport)


#  Software Tester  okey with cluster 4
tester=pd.read_csv("Software Tester.csv")
tester=tester.drop("ROLE", axis=1)
tester = scaler.fit_transform(tester)

#  Web Developer.csv okey with cluster 3
WebDeveloper=pd.read_csv("Web Developer.csv")
WebDeveloper=WebDeveloper.drop("ROLE", axis=1)
WebDeveloper = scaler.fit_transform(WebDeveloper)

# Data Analyst with 2
DataAanlyst=pd.read_csv("Data Analyst.csv")
DataAanlyst=DataAanlyst.drop("ROLE", axis=1)
DataAanlyst = scaler.fit_transform(DataAanlyst)

#  Business Analyst with 1
BusinessAnalyst=pd.read_csv("Business Analyst.csv")
BusinessAnalyst=BusinessAnalyst.drop("ROLE", axis=1)
BusinessAnalyst = scaler.fit_transform(BusinessAnalyst)






#  Technical Writer okey with cluster 1
TechnicalWriter=pd.read_csv("Technical Writer.csv")
TechnicalWriter=TechnicalWriter.drop("ROLE", axis=1)
TechnicalWriter = scaler.fit_transform(TechnicalWriter)

In [5]:
print(new_df.columns)

Index(['sslc', 'hsc', 'cgpa', 'school_type', 'no_of_miniprojects',
       'no_of_projects', 'coresub_skill', 'aptitude_skill',
       'problemsolving_skill', 'programming_skill', 'abstractthink_skill',
       'design_skill', 'first_computer', 'first_program', 'lab_programs',
       'ds_coding', 'technology_used', 'sympos_attend', 'sympos_won',
       'extracurricular', 'learning_style', 'college_bench',
       'clg_teachers_know', 'college_performence ', 'college_skills'],
      dtype='object')

In [98]:
#saving the model
import pickle
# save the model as a file named "model.pkl"
with open("kmeans.pkl", "wb") as f:
    pickle.dump(kmeans, f)

In [119]:
# predictions = kmeans.predict(test_X)
# Predict the cluster labels for the test data
test_clusters = kmeans.predict(software)

# View the count of samples in each predicted cluster
print(pd.Series(test_clusters).value_counts())

7    5
1    4
0    2
3    1
dtype: int64

In [91]:
test_Y.nunique()

8

In [92]:
test_Y

0      Technical Support
1     Software Developer
2         UI&UX Designer
3      Technical Support
4           Data Analyst
5       Technical Writer
6          Web Developer
7      Technical Support
8       Technical Writer
9        Software Tester
10    Software Developer
11     Technical Support
12         Web Developer
13    Software Developer
14    Software Developer
15         Web Developer
16      Technical Writer
17    Software Developer
18     Technical Support
19      Technical Writer
20     Technical Support
21      Business Analyst
22         Web Developer
23    Software Developer
24      Technical Writer
25        UI&UX Designer
26    Software Developer
27         Web Developer
28      Business Analyst
29         Web Developer
30     Technical Support
31    Software Developer
32      Technical Writer
33      Business Analyst
34        UI&UX Designer
35    Software Developer
36       Software Tester
37    Software Developer
38          Data Analyst
39     Technical Support
40    Software Developer
41       Software Tester
42      Business Analyst
43         Web Developer
44     Technical Support
45       Software Tester
46     Technical Support
47          Data Analyst
48    Software Developer
Name: ROLE, dtype: object

In [120]:
# Get the cluster labels for each sample
labels = kmeans.labels_

# Count the number of samples in each cluster
cluster_counts = pd.Series(labels).value_counts()

# Print the number of samples in cluster 0
print("Number of samples in cluster 0:", cluster_counts[0])

Number of samples in cluster 0: 1009